

#conteiner {
    width: 80%;
    margin: 0% auto;
}

#topo {
    height: 200px;
    background: url(img/the_good_game.png);
    text-indent: -9999999999999999999999px;
    border-radius: 20px;
}

#links {
    margin-top: 20px;
}

#links a {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 0% 8%;
    text-decoration: none;
    font-size: 36px;
    border-radius: 10px;
    
}

#links a:hover {
    background: rgba(66, 68, 83, 0.565);
    color: rgba(0, 0, 0, 0.798);
}

.descricao_jogo {
    font-size: 64px;
    text-align: center;
    border: 2px solid black;
    background: rgba(0, 0, 0, 0.307);
}

#posts {
    margin-top: 20px;
}

#coluna1 {
    float: left;
    width: 30%;
}
.sublinhado{
    text-decoration: underline;
}

#coluna2 {
    float: left;
    margin-left: 5%;
    width: 30%;
}

#coluna3 {
    float: left;
    margin-left: 5%;
    width: 30%;
}