

#conteiner {
    width: 1024px;
    margin: 0% auto;
}

#topo {
    height: 200px;
    background: url(img/the_good_game.png);
    text-indent: -9999999999999999999999px;
    border-radius: 20px;
}

#links {
    margin-top: 20px;
}

#links a {
    background: rgba(16, 24, 100, 0.797);
    color: rgb(0, 0, 0);
    margin: 0% 170px;
    text-decoration: none;
    font-size: 36px;
    border-radius: 10px;
    
}

#links a:hover {
    background: rgba(16, 24, 100, 0.565);
    color: rgba(0, 0, 0, 0.798);
}

#posts {
    margin-top: 30px;
}

#coluna1 {
    float: left;
    width: 49%;
}
#coluna1 p {
    text-decoration: underline;
}

#coluna2 {
    float: right;
    width: 49%;
}